table {
    width: 100%;
    border-collapse: collapse;
  }

  th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }

  th {
    background-color: #f2f2f2;
  }

  .Boton-carrito{
    background-color: green;
    color: black;
    width: 250px;
    height: 40px;
    display: flex;
    font-size: 26px;

  }
  .flex{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: end;
   

  }
  .boton-borrar{
    background-color: red;
    color: black;
    width: 250px;
    height: 40px;
    display: flex;
    font-size: 27px;
text-align: center;
  }
.tp{
  background-color: red;
}
.tp2{
  background-color: black;
}